/*train schedule styling */

body {
	background-color: #eee;
}

thead {
	background-color: lightsteelblue;
	text-align: center;
	border: 2px solid lightgrey;
}

tbody {
	text-align: center;
}

.container-fluid {
	background-color: lightsteelblue;
	width: 100%;
}

.header {
	text-align: center;
	position: relative;
	left: 13%;
}

.table-big {
	margin: 1%;

}

.form-header {
	background-color: lightsteelblue;
	border: 2px solid lightgrey;
	width: 95%;
	padding: 0.5% 0;
	position: relative;
	left: 2%;
	text-align: center;
}

.form-group {
	width: 95%;
	padding: 0.5% 0;
	position: relative;
	left: 2%;	
}

.form {
	padding: 1% 0;
}

/*label {
	border-bottom: 1px solid #777;
	/*border-left: 1px solid #777;*/
}
	