/*train schedule styling */

body {
	background-color: #eee;
}

thead {
	background-color: lightsteelblue;
	text-align: center;
	border: 2px solid lightgrey;
}

tbody {
	text-align: center;
}

.container-fluid {
	background-color: lightsteelblue;
	width: 100%;
}

.header {
	text-align: center;
	position: relative;
	left: 13%;
}

.table-big {
	margin: 1%;

}

.form-header {
	background-color: lightsteelblue;
	border: 2px solid lightgrey;
	width: 95%;
	padding: 0.5% 0;
	position: relative;
	left: 2%;
	text-align: center;
}

.form-group {
	width: 95%;
	padding: 0.5% 0;
	position: relative;
	left: 2%;	
}

.form {
	padding: 1% 0;
}

#logout {
	position: relative;
	top: 20%;
}


/*login page*/

.box {
	border: 1px solid grey;
	border-top: 25px solid lightsteelblue;
	padding: 1%;
	margin: 5%;
	width: 75%;
}

.signup-buttons {
	margin: 0 1.25%;
}
